*{
    margin: 0px;
}

input::-webkit-outer-spin-button,   input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    background-color: gray;
}
section{
    width: 300px;
    margin: auto;
    background-color: lightgray;
    border-radius: 10px 10px 0px 0px;
    padding-top: 5px;
    margin-top: 10px;
}

h2{
    text-align: center;
    width: 90px;
    display: inline-block;
    
    
}
div{
    margin-top: 10px;
}
input{
    display: inline-block;
    width: 30px;
    margin: 0px 25px;
}

p{
    width: 90px;
    display: inline-block;
    text-align: center;
}
.total{
    width: 30px;
    display: inline-block;
    margin: 0px 30px;
    text-align: center;
}
strong{
    

}